<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Schools Library</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="nav-col" class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
            
              <li class="item-1"><a class="main-url" href="{% url 'home' %}">Home</a></li>
              <li class="item-1"><a class="main-url" href="{% url 'books' %}">All books</a></li>
              <li class="item-1"><a class="main-url" href="{% url 'authors' %}">All authors</a></li>
              
            </ul>  <ul class="sidebar-nav item-1">
              …
             {% if user.is_authenticated %}
               <li style="color: aliceblue;">User: {{ user.get_username }}</li>
               <li ><a class="link" href="{% url 'my-borrowed' %}">My Borrowed</a></li>
               <li >
                 <form id="logout-form" method="post" action="{% url 'logout' %}">
                   {% csrf_token %}
                   <button type="submit" class="btn btn-secondary">Logout</button>
                 </form>
               </li>
          
              

             {% else %}


             {%url 'logout' as logout_url %}
             {%  if '/catalog' in request.path   %}
               <li><a class="link" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
               {% endif %}
             {% endif %}
            
            </ul>
            {% if user.is_staff %}
            <hr>
            <ul class="sidebar-nav">
            <li style="color: aliceblue;">Staff</li>
               <li><a class="link" href="{% url 'all-borrowed' %}">All borrowed</a></li>
            {% if perms.catalog.add_author %}
               <li><a class="link" href="{% url 'author-create' %}">Create author</a></li>
            {% endif %}

            {%if perms.catalog.add_book%}
            <li><a class="link" href="{% url 'book-create' %}">Create book</a></li>
            {%endif%}
            </ul>
            {% endif %}
            
          {% endblock %}
        </div>
       
        <div  id='main-col'class="col-sm-10 ">
          <div id="glass">
          {% block content %}{% endblock %}</div>
        
          {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
        
        
        </div>
      </div>
    </div>
  </body>
</html>
